<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../../partials/head'); %>
  <title>Guitars-n-All</title>
</head>
<body>
<header>
  <%- include('../../../partials/header'); %>
</header>

<main>
  
</main>

<footer>
  <%- include('../../../partials/footer'); %>
</footer>
</body>
</html>