<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>About | Guitars-n-All</title>

  <link rel="stylesheet" href="/assets/css/about.css" />
</head>
<body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="basic-container">
    <h1>About</h1>
    <div class="about-description">
      <p>Our objective for this guitar website is to create a comprehensive, user-friendly platform where guitar enthusiasts can access all things related to the instrument in one place. We aim to be the go-to destination for guitar players of all skill levels, whether they are just starting out or are experienced professionals.</p>
      <p>To achieve this objective, we will provide a wide variety of guitars for purchase, with options for all levels of players and budgets. We will also offer guitar repair services to ensure that our customers' instruments are always in top condition.</p>
      <p>In addition, we will provide online guitar lessons that are accessible to players of all skill levels. Our experienced instructors will guide users through the learning process and help them reach their full potential as guitar players.</p>
      <p>Furthermore, we will provide a feature that allows users to find and sign up for guitar classes and events in their local area. They will be able to see the posters, schedule, and class materials, and even download the posters to share with friends or hang up in their local music store.</p>
      <p>We will also create a community feature where users can connect with other guitar enthusiasts, share tips, advice and guitar-related content.</p>
      <p>Our website will be designed with a user-friendly interface that makes it easy to navigate and find the information you need. With a focus on providing comprehensive guitar-related services, we hope to become the go-to destination for guitar players everywhere.</p>
      <p>In summary, the objective of this website is to create a one-stop-shop for all things  guitar related, including purchasing, repairing, learning, and finding guitar classes, with a focus on providing comprehensive, user-friendly services for guitar enthusiasts of all skill levels.</p>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>