<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Guitars-n-all</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    
    <%- include("../partials/head"); %>
  </head>
  <body>
    <header><%- include("../partials/header"); %></header>
    <!-- <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/" /> -->
    <div id="slider">
      <figure>
        <div class="slider-img">
          <img
            src="https://stuff.fendergarage.com/images/e/N/w/Web_Fender_0914_NPI_PlayerPlusLaunch_HPS_DESKTOP-2.jpg"
            width="200px" />
        </div>
        <div class="slider-img">
          <img
            src="https://stuff.fendergarage.com/images/3/O/v/AMVINTAGEII_HPS_Desktop.jpg" />
        </div>
        <div class="slider-img">
          <img
            src="https://imgs.search.brave.com/C-_LwypXZsLBjnNdFJbe5Dx8V-cVrMNysFpvfvHTJoA/rs:fit:1200:800:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tVVg0WTZpdU55/WVEvVVA2UnVXVUdv/M0kvQUFBQUFBQUFC/aHcvOHNGY2swbDBS/blEvczE2MDAvU2xh/c2grR3VucytOK1Jv/c2VzLmpwZw"
          />
        </div>
        <div class="slider-img">
          <img
            src="https://imgs.search.brave.com/sT0IH76ZUyqBfdf9oSNJRoWwOW515c_uCqXfq8idw9Y/rs:fit:1063:700:1/g:ce/aHR0cDovLzMuYnAu/YmxvZ3Nwb3QuY29t/L19CWHBEZ2FaN3FD/WS9UUHlCMVhVcW5z/SS9BQUFBQUFBQUFI/MC9iNVJyMHg1eTVj/QS9zMTYwMC9TbGFz/aDEuanBn" />
        </div>
        <!-- <img
          src="https://www.istockphoto.com/photo/five-electric-guitar-isolated-gm601914058-103461069" /> -->
        <!-- <div class="slider-img">
          <img
            src="https://media.istockphoto.com/id/853883572/photo/hearing-the-music-honing-the-mind.jpg?s=612x612&w=0&k=20&c=T_e48mBOZOomUSaXRYjrxeR7zNRkIy6uLsh1zvZhIsM=" />
        </div> -->
      </figure>
    </div>
    <!-- <br> -->
    <!-- <div class="content">
      <div class="content-img">
        <img src="https://stuff.fendergarage.com/images/3/O/v/AMVINTAGEII_HPS_Desktop.jpg" alt="">

      </div>
      <div class="content-img">
        <img src="https://stuff.fendergarage.com/images/3/O/v/AMVINTAGEII_HPS_Desktop.jpg" alt="">
      </div>
    </div> -->

    
  </body>
</html>
