<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <link rel="stylesheet" href="upi.css" />
	
</head>

<body>
	<img src="https://imgs.search.brave.com/wueYcKM6w1-cjcLAwhS0CV7ailu10PVqQHot2Ps6Vr4/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/aWF0c2U3Mjgub3Jn/L3NpdGVzL2RlZmF1/bHQvZmlsZXMvTXlf/UERGXzEucG5n">
</body>

</html>